.singleCar{
    border: 1px solid rgb(85, 85, 85);
    border-radius: 10px;
 
    /* padding: 20px; */
    background-image: linear-gradient(to right, rgb(239, 247, 230) , rgb(177, 211, 231));
    overflow: hidden;
    
}
.singleCar:hover{
    /* background-image: linear-gradient(to right, rgb(210, 231, 235) , rgb(11, 255, 182)); */
    transform: scale(1.03);
}