.bg-lightt{
    /* background-color:#d1d0d08e; */
    background-color:#8181818e;
    color: white;
}
.navbar-lightt{
    color: white;
    
}
.navbar-lightt a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}
.listed{
    list-style: none;
}